/**
 * Styles for minecraft avatar generator.
 * 
 * @author McHorse
 */

body 
{ 
	margin: 0;
}

a
{
    color: rgb(49, 123, 255);
    text-decoration: none;
}

a:hover
{
    border-bottom: 1px solid rgba(49, 123, 255, 0.25);
}

.main
{
    width: 100%;
}

.canvas,
.output
{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 256px;
}

.output h2,
.canvas h2
{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    
    margin: 0px;
    margin-bottom: 0.5em; 
}

.renderer
{
    cursor: move;
}

.options
{
    font: 13px Helvetica;
    font-weight: 100;
    
    float: left;
    padding: 20px 20px;
    width: 220px;
}

.options :first-child
{
    margin-top: 0px;
}

.options :last-child
{
    margin-bottom: 0px;
}

.options h1,
.options h2
{
    font-size: 20px;
    font-weight: 100;
    
    margin: 0px;
    margin-bottom: 1em; 
    margin-top: 1em; 
}

.options h1
{
    font-size: 24px;
}

.options p
{
    line-height: 1.4em;
    
    margin: 0px;
    margin-bottom: 1em;
}

.options hr
{
    border: 1px solid #f0f0f0;
    border-bottom: 0px;
    
    margin-bottom: 1em;
}

.options [type=file]
{
    font: 100 12px Helvetica;
}

.options [type=checkbox]
{
    vertical-align: 1px;
}

.options [type=number],
.options [type=text]
{
    padding: 2px 4px;
}

.options button
{
    font: 12px Helvetica;
}

.options code
{
    font-family: Menlo, Monaco, monospace;
    font-size: 0.9em;
    background-color: #eee;
    border-radius: 3px;
    padding: 2px 8px;
}